html {
  z-index: -4;
  height: 100%;
}

body {
  z-index: -3;
}

.App {
  text-align: center;
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appbody {
  top: 30pt;
  background-color: lightgrey;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
